body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEB887;
    
}
.heart{
    height: 150px;
    width: 150px;
    background-color: yellow;
    position: relative;
    transform: rotate(60deg);
    box-shadow: -20px 20px 150px black; 
    animation: palpitar 0.5s linear infinite alternate;
    
}
.contenido{
    position: fixed;
    margin-bottom: 100px;
    text-align: center;
}
h1{color: #000000};
h4{ color:white}
@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.15);}
    80%{transform: rotate(45deg) scale(1.15);}
    100%{transform: rotate(45deg) scale(0.9);}
}
.heart::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: yellow;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px yellow;
}
.heart::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: yellow;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px yellow;
}